  .float-panel {
    position: absolute;
    overflow: hidden;
    background-color: #FFFFFF;
    border: solid 1px #CCC;
    border-radius: 5px; 
    box-shadow: 3px 3px 3px #555;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .float-panel.open {
    z-index: 100;
    height: auto;
    display: block;
    padding-bottom: 20px;
  }
  
  .float-panel.on-top {
    z-index: 100;
  }
  
  .float-panel:not(.on-top) {
    z-index: 50;
  }
  
  .float-panel.closed {
    z-index: 1 !important;
    height: auto;
  }
  
  .float-panel.minimized {
    display: block;
    z-index: 50;
    height: 25px !important;
    padding-bottom: 0px;
    overflow-y: hidden;
    resize: none !important;
  }
  
  /* Class for the grabbable top bar of the popups */
  
  .float-handle {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2c3e50;
    height: 25px;
    line-height: 25px;
    color: white;
  }
  
  /* Classes for the close and minimize buttons on popups */
  
  .float-panel .close {
    
    position: absolute;
    color: white !important;
    right: 3px;
    top: 4px;
    width: 19px;
    height: 19px;
    color: #333;
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 8;
    
  }
  
  .float-panel .minimize {
    
    position: absolute;
    color: white !important;
    top: 9px;
    width: 19px;
    height: 19px;
    color: #333;
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 8;
    
  }
  
  .float-panel a.close:hover, .float-panel a.minimize:hover {
    color: #476481;
  }
  
  .shiny-plot-output > img {
    width: 100%;
    height: 100%;
  }