body {
	padding: 0px;
	margin: 0px;
}

#header {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	box-shadow: 0px 3px 2px -1px rgba(44,62,80,0.5);
	background-color: #2c3e50;
	color: #FFFFFF;
}

#header span:first-child {
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
}

#header span:nth-child(2) {
	font-size: 14px;
	padding-left: 10px;
}

#map {
	position: absolute;
	left: 0px;
	top: 40px;
}

.sidebar h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2c3e50;
	border-bottom: solid 1px #2c3e50;
	padding-bottom: 10px;
	box-shadow: 0px 2px 1px -1px rgba(44,62,80,0.5);
}

.sidebar {
	font-family: 'Open Sans', sans-serif;
}

.sidebar h1 i {
	padding-right: 5px;
	font-size: 1.5em;
}

/* Map Icon Styling */
.map-icon {
  
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.5);
  opacity: 0.67;
  
}

.o3-icon.selected {
	background-color: rgb(255, 64, 64);
}

.o3-icon:not(.selected) {
	background-color: rgb(128, 0, 0);
}

.pm-icon.selected {
	background-color: rgb(64, 64, 255);
}

.pm-icon:not(.selected) {
	background-color: rgb(0, 0, 128);
}

.map-icon.selected {
  width: 10px !important;
  height: 10px !important;
  margin-left: -5px !important;
  margin-top: -5px !important;
}

.map-icon:not(.selected) {
  width: 7px !important;
  height: 7px !important;
  margin-left: -4px !important;
  margin-top: -4px !important;
}

.fa-context {
	font-size: 16px;;
}

.leaflet-dropdown-select {
  vertical-align: middle;
  border: solid 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.leaflet-dropdown a {
	display: inline-block !important;
}

.leaflet-dropdown {
	background-color: white;
	overflow: hidden;
	line-height: 26px;
	width: 26px;
	height: 26px;
}

.leaflet-dropdown.open {
	width: auto;
}