.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #6F6F6F; border-radius: 0px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s linear 0s; -webkit-transition: margin 0.3s linear 0s;
    -o-transition: margin 0.3s linear 0s; transition: margin 0.3s linear 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Arial, sans-serif; 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Ozone";
    padding-left: 10px;
    background-color: #FFFFFF; color: #6F6F6F;
}

.onoffswitch-inner:after {
    content: "PM2.5";
    padding-right: 10px;
    background-color: #FFFFFF; color: #6F6F6F;
    text-align: right;
}

.onoffswitch-switch {
	box-sizing: content-box;
    display: block; width: 10px; margin: 5px;
    background: #2c3e50;
    border: 1px solid #2c3e50; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; 

}

.onoffswitch-switch:hover{
	background-color: #444;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
