#tour {
  box-sizing: border-box;
  font-size: 15px;
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  z-index: 10000;
  border: solid 2px black;
  background-color: #EFEFEF;
}

#tour .close {
  position:absolute;
  top: 10px;
  right: 10px;
  color: #ddd;
  cursor: pointer;
}

#tour .close:hover{
  color: #999;
}

#tour .header {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 370px;
}

#tour .content {
  position: absolute;
  width: 365px;
  height: 210px;
  left: 15px;
  top: 45px;
  overflow-y: scroll;
  text-align: justify;
  padding-right: 5px;
}

#tour #tourNext {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#tour .tourCookie {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.tour-arrow-border {
  border-style: solid;
  border-width: 10px;
  height: 0px;
  width: 0px;
  position: absolute;
}

.tour-arrow {
  border-style: solid;
  border-width: 10px;
  height: 0px;
  width: 0px;
  position: absolute;
}